<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row" th:fragment="auctions (auctions,fragment_title)">
    <h3 class="row m-3" th:text="${fragment_title}"></h3>
    <div class="row border m-3 local-thumbnails-container">
        <div th:each="a : ${auctions}" class="local-thumbnail-container d-inline-block">
            <a href="/auction" th:href="@{/auction(id=${a.id})}">
                <div class="local-thumbnail-image-container">
                    <!--<img class="img-thumbnail" th:alt-title="${a.title}" th:src="@{${a.getSmallImageURL()}}">-->
                    <!--<img class="img-thumbnail" th:alt-title="${a.title}" th:src="@{'/img/auction/small/default.png'}">-->
                    <img class="img-thumbnail" th:alt-title="${a.title}" th:src="${a.getImageUrl(100,100)}">
                </div>
                <small class="align-self-end local-thumbnail-caption"
                       th:with="min=${T(Integer).min(#strings.length(a.title),34)}"
                       th:text="${#strings.substring(a.title,0,min)+ '...'}"></small>
            </a>
        </div>
    </div>
</div>

</html>