<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="col-2 border" th:fragment="categories (categories,fragment_title)">

    <h2 th:text="${fragment_title}">Kategorie</h2>
    <ul>
        <li th:each="c : ${categories}">
            <a href="/categories" th:href="@{/category(id=${c.id})}" th:text="${c.name}"></a>
        </li>
    </ul>


</div>

</html>