<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="lead (siteName,title,showUserBox,user)">
    <div class="row mt-2 mb-2 local-inversed-color">
        <h1 class="col-4"><a class="text-white" href="/" th:href="@{'/'}" th:text="${siteName}"></a></h1>
        <div class="col" th:if="${showUserBox}">
            <div th:replace="fragments/user_box :: user_box(user=${user})"></div>
        </div>
    </div>

    <div th:if="${flashMessage}"
         th:class="'alert ' + (${flashSuccess}? 'alert-success':'alert-warning')+ ' alert-dismissible fade show'"
         role="alert" th:text="${flashMessage}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row" th:if="${title}">
        <h2 th:text="${title}"></h2>
    </div>
</th:block>
</html>