<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="location_embedded_form (location)" th:object="${location}">
    <div class="form-group row ml-0">
        <div class="w-100">
            <label for="street"
                   th:class="${(#fields.hasErrors('street') || #fields.hasErrors('buildingNr') || #fields.hasErrors('apartmentNr'))? 'align-top' : ''}">Ulica</label>
            <div th:class="${'d-inline-block w-50'+((#fields.hasErrors('street') || #fields.hasErrors('buildingNr') || #fields.hasErrors('apartmentNr'))? ' align-top' : '')}">
                <input class="form-control"
                       id="street" type="text" th:field="*{street}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('street')}"
                   th:errors="*{street}">
                    Street Error</p>
            </div>
            <label for="buildingNr"
                   th:class="${(#fields.hasErrors('street') || #fields.hasErrors('buildingNr') || #fields.hasErrors('apartmentNr'))? 'align-top' : ''}">Nr</label>
            <div th:class="${'d-inline-block'+((#fields.hasErrors('street') || #fields.hasErrors('buildingNr') || #fields.hasErrors('apartmentNr'))? ' align-top' : '')}">
                <input class="form-control"
                       size="5" id="buildingNr" type="text" th:field="*{buildingNr}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('buildingNr')}"
                   th:errors="*{buildingNr}">
                    BuildingNr Error</p>
            </div>
            <label for="apartmentNr"
                   th:class="${(#fields.hasErrors('street') || #fields.hasErrors('buildingNr') || #fields.hasErrors('apartmentNr'))? 'align-top' : ''}">/</label>
            <div th:class="${'d-inline-block'+((#fields.hasErrors('street') || #fields.hasErrors('buildingNr') || #fields.hasErrors('apartmentNr'))? ' align-top' : '')}">
                <input class="form-control"
                       id="apartmentNr" size="5" type="text"
                       th:field="*{apartmentNr}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('apartmentNr')}"
                   th:errors="*{apartmentNr}">
                    ApartmentNr Error</p>
            </div>
        </div>
    </div>
    <div class="form-group row ml-0">
        <div class="w-100">
            <label for="postalCode"
                   th:class="${(#fields.hasErrors('postalCode') || #fields.hasErrors('town'))? 'align-top' : ''}">Kod
                pocztowy</label>
            <div th:class="${'d-inline-block' + ((#fields.hasErrors('postalCode') || #fields.hasErrors('town'))? ' align-top' : '')}">
                <input class="form-control"
                       size="6" id="postalCode" type="text" th:field="*{postalCode}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('postalCode')}"
                   th:errors="*{postalCode}">
                    PostalCode Error</p>
            </div>

            <label for="town"
                   th:class="${(#fields.hasErrors('postalCode') || #fields.hasErrors('town'))? 'align-top' : ''}">Miejscowość</label>
            <div th:class="${'d-inline-block w-50' + ((#fields.hasErrors('postalCode') || #fields.hasErrors('town'))? ' align-top' : '')}">
                <input class="form-control"
                       id="town" type="text" th:field="*{town}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('town')}"
                   th:errors="*{town}">
                    Town Error</p>
            </div>

        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label" for="state">Województwo</label>
        <div class="col-sm-7">
            <input class="form-control" id="state" type="text" th:field="*{state}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">
                State Error</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label" for="country">Kraj</label>
        <div class="col-sm-7">
            <select class="form-control" id="country" name="country">
                <option th:each="c : ${countries}" th:value="${c.toString()}"
                        th:text="${'['+c.toString()+'] '+c.name}"
                        th:selected="*{country}? ${location.country.toString() == c.toString()} : ${c.toString() == 'PL'}">
                    [UA] Ukraine
                </option>
            </select>
            <p class="text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
                Country Error</p>
        </div>
    </div>
</th:block>
</html>