<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="loginbox" class="float-right" th:fragment="user_box (user)">
    <form th:unless="${user}" class="form-inline" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">E-mail:</label>
            <input class="form-control" id="username" type="email" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input class="form-control" id="password" type="password" name="password"/>
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
        <a class="btn btn-secondary" th:href="@{/register}">Rejestracja</a>
    </form>
    <div th:if="${user}" class="d-inline-block">
        <form class="form-inline" th:action="@{/logout}" action="/logout" method="post">
            <span th:text="'Zalogowany jako ' + ${user.nick}"></span>
            <button type="submit" class="btn btn-secondary">Wyloguj</button>
            <!--<a class="btn btn-secondary" th:href="@{/logout}">Wyloguj</a>-->
        </form>
    </div>
</div>
</html>