body,a, a:hover {
    color:rgb(33, 37, 41);;
}

.local-inversed-color {
    background-color: #67dcc7;
    color:white;
}

.btn-primary {
    background-color:#6790dc;
}
.btn-secondary {
    background-color: #768189;
}

.local-thumbnails-container {
    line-height: 1;
}

.local-thumbnail-image-container {

}

.local-thumbnail-image-container {
    height: 104px;
    width: 104px;
}

.local-thumbnail-caption {
    /*color: #343a40;*/
    line-height: 1;
    font-size: 70%;
}

.local-thumbnail-container {
    width: 120px;
    height: 172px;
    padding: 6px;
}

#loginbox {
    font-size: small;
    padding-top: 15px;
    padding-bottom: 15px;
}

#loginbox .form-control, #loginbox .btn {
    font-size: small;
    line-height: 1;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

.local-foot {
    min-height: 150px;
}

