<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(siteName=${siteName},title=${title})"></head>

<body>
<div class="container">
    <th:block th:replace="fragments/lead :: lead(siteName=${siteName},title=${title},showUserBox=${showUserBox},user=${user})"></th:block>
    <div class="row">
        <li th:each="c : ${categories}">
            <a href="/categories" th:href="@{/category(id=${c.id})}" th:text="${c.name}">
                <img th:src="${c.}"
            </a>
        </li>
    </div>
    <div th:replace="fragments/foot :: foot"></div>
    <script th:replace="fragments/scripts :: scripts"></script>
</div>
</body>

</html>