<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org"
      th:with="siteName='Serwis aukcyjny',title='Logowanie',showUserBox=false,user=null,flashMessage=#session.getAttribute('flashMessage'),flashSuccess=#session.getAttribute('flashSuccess')">-->
<html xmlns:th="http://www.thymeleaf.org"
      th:with="siteName='Serwis aukcyjny',title='Logowanie',showUserBox=false,user=null">
<head th:replace="fragments/head :: head(title=${title},siteName=${siteName})"></head>

<body>
<div class="container">
    <div th:if="${param.error}" class="alert alert-warning">
        Błędna nazwa użytkownika lub hasło.
    </div>
    <div th:if="${param.logout}" class="alert alert-info">
        Zostałeś poprawnie wylogowany
    </div>

    <th:block
            th:replace="fragments/lead :: lead(siteName=${siteName},title=${title},showUserBox=${showUserBox},user=${user})"></th:block>
    <div class="row">
        <form th:action="@{/login}" method="post" class="w-50">
            <div class="form-group">
                <label for="username">Podaj adres e-mail:</label>
                <input class="form-control" id="username" type="email" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Podaj hasło:</label>
                <input class="form-control" id="password" type="password" name="password"/>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary ml-5">Zaloguj</button>
                <a class="btn btn-secondary ml-5" th:href="@{/register}">Rejestracja</a>
            </div>
        </form>
    </div>
    <div th:replace="fragments/foot :: foot"></div>
</div>
</body>
</html>